<h1 class="page-title">Overview of products:</h1>
<br>
<div>
  <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
</div>
<br>

<table class=checkout-table>
  <tr class="checkout-tablerow">
    <th class="checkout-tableheader"> Product </th>
    <th class="checkout-tableheader"> Price </th>
    <th class="checkout-tableheader"> Quantity </th>
    <th class="checkout-tableheader"> Total Price </th>
  </tr>
<% @order_items.each do |order_item| %>
  <table class=checkout-table>
    <tr class="checkout-tablerow">
    </tr>
      <td class="checkout-tableelement"><%="#{order_item.product.name}"%></td>
      <td class="checkout-tableelement"><%="#{order_item.unit_price}"%> </td>
      <td class="checkout-tableelement"><%="#{order_item.quantity}"%></td>
      <td class="checkout-tableelement"><%="#{order_item.quantity * order_item.unit_price}"%></td>
  </table>
<% end %>


<BR>

<div class="require profile">
<% if current_user.has_profile? %>
  <li><form action="charges/new.html">
    <input class="btn btn-default" type="submit" value="Confirm and pay our order"/>
  </form></li>
<% else %>
  <li>You have to create a profile before you can checkout</li>
  <li><form action="/profiles/new">
    <input type="submit" value="Create a Profile"/>
  </form></li>
  </div>
<% end %>
