<div class="well row">
  <div class="col-xs-4">
    <h4 class="product-name"><%= link_to product.name, product_path(product.id) %></h4>
  </div>

  <div class="col-xs-4">
    <%= form_for order_item, remote: true do |f| %>

    <div class="input-group">
    <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
    <%= f.hidden_field :product_id, value: product.id %>

      <div class="input-group-btn">
        <%= f.submit "Update Quantity", class: "btn btn-default" %>
        <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
      </div>
    </div>
  </div>

  <div class="col-xs-4 text-right">
    <p>Unit Price:
      <span><%= number_to_currency order_item.unit_price %></span>
    </p>
    <p>Total Price:
      <span><%= number_to_currency order_item.total_price %></span>
    </p>
    <% end %>
  </div>
</div>
