<html>
  <head>
    <title>Green Gems</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- Static navbar -->
    <%= render 'shared/navbar' %>
    <div class="container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  <script>
    // A $( document ).ready() block.
    $( document ).ready(function() {
    	$( '.trigger' ).click(function() {
    	  $( ".highlight" ).toggle( "highlight" );
    	});
    });
</script>

  </body>
</html>
